doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Music Player
    link(href=require("./favicon.ico"), rel='shortcut icon')
  body
    #music.music
      .music__info
        .music__wrapper
          .music__img
            img#cover(src=require("./img/ukulele.jpg"), alt="music-cover")
            img.hidden(src=require("./img/hey.jpg"), alt="music-cover")
            img.hidden(src=require("./img/summer.jpg"), alt="music-cover")
          #artist.music__artist
          #title.music__title
      .music__progress-wrapper
        span#timer.music__timestamp(aria-label='timer')
        #progress-container.music__progress-container
          #progress.music__progress
        span#duration.music__timestamp.music__timestamp--duration(aria-label='timer')
      audio#audio(src=require("./music/ukulele.mp3"), preload="metadata")
      audio.hidden(src=require("./music/hey.mp3"))
      audio.hidden(src=require("./music/summer.mp3"))
      .music__nav
        button#prev.btn
          img(src=require("./img/prev-icon.svg"))
        button#play.btn
          img(src=require("./img/play-icon.svg"))
        button.hidden
          img(src=require("./img/pause-icon.svg"))
        button#next.btn
          img(src=require("./img/next-icon.svg"))

